#include "6-2.h"
#include <windows.h>

IDD_MAIN_DIALOG DIALOGEX 0, 0, 620, 420
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Shape Draw and Move"
FONT 9, "MS Shell Dlg"
BEGIN
GROUPBOX "Shape", IDC_STATIC, 7, 7, 90, 45
CONTROL "Rectangle", IDC_RAD_RECT, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 15, 22, 70, 10
CONTROL "Circle", IDC_RAD_CIRCLE, "Button", BS_AUTORADIOBUTTON, 15, 35, 70, 10

GROUPBOX "Size", IDC_STATIC, 7, 58, 90, 60
CONTROL "Small", IDC_RAD_SMALL, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 15, 73, 70, 10
CONTROL "Medium", IDC_RAD_MEDIUM, "Button", BS_AUTORADIOBUTTON, 15, 88, 70, 10
CONTROL "Large", IDC_RAD_LARGE, "Button", BS_AUTORADIOBUTTON, 15, 103, 70, 10

GROUPBOX "Grid", IDC_STATIC, 7, 125, 90, 45
CONTROL "On", IDC_RAD_GRID_ON, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 15, 140, 70, 10
CONTROL "Off", IDC_RAD_GRID_OFF, "Button", BS_AUTORADIOBUTTON, 15, 153, 70, 10

GROUPBOX "Color", IDC_STATIC, 7, 178, 90, 60
CONTROL "Red", IDC_CHK_RED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 15, 193, 70, 10
CONTROL "Green", IDC_CHK_GREEN, "Button", BS_AUTOCHECKBOX, 15, 208, 70, 10
CONTROL "Blue", IDC_CHK_BLUE, "Button", BS_AUTOCHECKBOX, 15, 223, 70, 10

PUSHBUTTON "Draw", IDC_BTN_DRAW, 7, 250, 90, 18
PUSHBUTTON "Move", IDC_BTN_MOVE, 7, 273, 90, 18

PUSHBUTTON "+", IDC_BTN_PLUS, 7, 300, 42, 18
PUSHBUTTON "-", IDC_BTN_MINUS, 55, 300, 42, 18

LTEXT "Speed: 5", IDC_STATIC_SPEED, 7, 325, 90, 15

PUSHBUTTON "Quit", IDC_BTN_QUIT, 7, 360, 90, 22
END
